html, body{
    background-color: #F3F1FF;
    overflow-x: hidden;
}

main{
    max-width: 870px;
}
.top-player{
    background-color: #FFFFFF ;
}
.navbar img{
    width:40px;
}

.navbar-brand{
    margin-left: 18px;
    
}

.navbar-nav{
    margin-right: 19px;
}
.navbar-brand span{
    color: #ffffff;
    font-size: 24px;
    text-align: left;
    font-weight: 500%;
}

.navbar li{
    padding-left: 18px;
}

.navbar .nav-link {
    color: #ffffff;
}

.player img{
    width: 56px;
}

.blog img{
    width: 177px;
}

.course img{
    width: 224px;
}

.course-heading{
    text-align: left;
}
.rating-course .fa-star.checked {
    color: gold;
}
